parameters:
    checkUninitializedProperties: true
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    level: 8
    paths:
        - src/
        - tests/
    resultCachePath: var/cache/phpstan/resultCache.php
    strictRules:
        disallowedShortTernary: false
    tipsOfTheDay: false
    treatPhpDocTypesAsCertain: false

services:
    cacheStorage:
        arguments:
            directory: var/cache/phpstan/cache/PHPStan
        alteration: true
